/* Kleurklassen */
.bg-primary {
    background-color: #1E3A8A; /* Donkerblauw */
}

.bg-secondary {
    background-color: #F3F4F6; /* Lichtgrijs */
}

.text-dark {
    color: #1F2937; /* Donkergrijs */
}

.accent-color {
    color: #3B82F6; /* Accentkleur Lichtblauw */
}

/* Algemene stijl voor afgeronde knoppen */
.btn-nav, .btn-rounded {
    background-color: #3B82F6; /* Accentkleur Lichtblauw */
    border: 2px solid #1E3A8A; /* Primaire kleur Donkerblauw */
    border-radius: 25px; /* Afgeronde hoeken */
    padding: 5px 15px;
    color: #F3F4F6; /* Lichtgrijze tekstkleur */
    font-weight: bold;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    margin: 5px;
    cursor: pointer;
    text-align: center;
}

/* Stijl voor logo-afbeelding */
.logo-img {
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.profile-img {
    width: 200px; /* Breedte van de afbeelding */
    height: 200px; /* Hoogte van de afbeelding */
    border-radius: 50%; /* Maakt de afbeelding rond */
    margin-bottom: 10px;
    border: 3px solid #1E3A8A; /* Donkerblauwe rand */
    object-fit: cover; /* Houdt de verhoudingen van de afbeelding intact */
}

/* Stijl voor about-sectie */
.about {
    background-color: #F3F4F6; /* Lichtgrijze achtergrond */
    color: #1F2937; /* Donkergrijze tekstkleur */
    border-radius: 15px;
    padding: 15px;
    text-align: left;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Contactpagina-specifieke stijlen */
.contact-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #1E3A8A; /* Donkerblauwe rand */
    margin-bottom: 15px;
}

/* Socials aside sectie */
.socials {
    background-color: #1E3A8A; /* Donkerblauwe achtergrond voor onderscheid */
    color: #F3F4F6; /* Lichtgrijze tekstkleur */
    border-radius: 15px;
    padding: 15px;
    text-align: left;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.banner-img {
    width: 100%;
    height: auto;
    max-height: 400px; /* Pas de hoogte aan zoals gewenst */
    object-fit: cover;
}

/* Card stijlen */
.card {
    height: 100%; /* Zorgt ervoor dat de kaart de volledige hoogte vult */
    display: flex;
    flex-direction: column; /* Zorgt voor een kolomindeling */
    justify-content: space-between; /* Houdt content binnenin goed verdeeld */
}

.card-img-top {
    width: 100%; /* Afbeelding vult de breedte van de kaart */
    height: 200px; /* Stelt een vaste hoogte in voor afbeeldingen */
    object-fit: cover; /* Houdt de aspectratio van de afbeelding intact en snijdt bij indien nodig */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Optioneel: visuele scheiding tussen afbeelding en kaartinhoud */
}

.card-body {
    flex-grow: 1; /* Zorgt ervoor dat de inhoud zich flexibel aanpast */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
